<div class="layout-grid">
  <div class="layout-grid__column_1"></div>
  <div class="layout-grid__column_2">
    <div class="main-title">
      <div class="layout-container">
        <h1>What's new in Planyway</h1>
      </div>
    </div>
    <div class="layout-container">
      <news-list-component [changelog]="changelog"></news-list-component>
      <ngx-loading-bar></ngx-loading-bar>
    </div>
  </div>

  <div class="layout-grid__column_3">
    <button
      (click)="showForm()"
      mat-raised-button
      color="primary"
      id="open_form"
      [style.display]="!formVisibility ? 'block' : 'none'"
    >
      Send feedback
    </button>
    <form
      [style.display]="formVisibility ? 'block' : 'none'"
      action="https://dev.planyway.com/api/b/feedback/link"
      method="get"
    >
      <fieldset [disabled]="!formAvailability">
        <h2 class="form__block">Contact support</h2>
        <div class="form__block user-info-input">
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="text"
              name="user_name"
              [(ngModel)]="userName"
              placeholder="Your name"
              required
            />
          </mat-form-field>
          <email-input-component
            (emailInputEvent)="inputEmail($event)"
          ></email-input-component>
        </div>
        <mat-form-field class="example-full-width">
          <textarea
            matInput
            rows="10"
            type="text"
            name="user_message"
            [(ngModel)]="userMessage"
            placeholder="Your message"
            class="form__block"
            required
          ></textarea>
        </mat-form-field>

        <div class="form__block form__buttons">
          <button
            mat-stroked-button
            class="form__buttons__item"
            [disabled]="!formAvailability"
            (click)="cancelMessage()"
          >
            Cancel
          </button>
          <button
            mat-stroked-button
            mat-raised-button
            color="primary"
            class="form__buttons__item"
            [disabled]="!formAvailability"
            (click)="sendMessage()"
          >
            Send
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
